# v3.ext

#authorityKeyIdentifier=keyid,issuer
authorityKeyIdentifier=keyid

subjectKeyIdentifier=hash

basicConstraints=CA:FALSE

#keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
keyUsage = digitalSignature, keyEncipherment, dataEncipherment

extendedKeyUsage = TLS Web Server Authentication, TLS Web Client Authentication, codeSigning
