
[ req ]
prompt = no
encrypt_key = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[ dn ]
CN = Just For Test
O = TTT
C = CN

[ req_ext ]
subjectAltName = email:justfortest@example.com
1.2.3.4.56.78 =ASN1:PRINTABLESTRING:Future
1.2.3.4.56.89 =ASN1:OCTETSTRING:01010203
1.2.3.4.56.90 =ASN1:FORMAT:HEX,OCTETSTRING:41424344


